.idea/
*.iml

/vendor
/example/**/vendor

/examples/**/vendor
/.goinject/cache/
/.goinject/work/
/bin/
/dist/
/artifacts/
*.test
*.test.exe
__pycache__/
*.pyc

/.goinject/vendor-state/lock
/.goinject/vendor-state/transaction.json
/.goinject/vendor-state/initial.json
